spring:
  application:
    name:jiahao-ai-code-backend
server:
  port: 8082
  servlet:
    context-path: /api

# springdoc-openapi
springdoc:
  group-configs:
    - group: 'default'
      packages-to-scan: com.jiahao.jiahaoaicode.controller
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn
